@import url('https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbTFJbWNFOXV5OUJMd1JDd1BDTjM4U2t3UzlTZ3xBQ3Jtc0trOXdlYkl1eVM0cF9hZnVwenpXV19fQlRTSnF3TXFxekVUbjZqRTlGOXdqLU9lTHVlTm5HY3NZUVVHSHk5bXMwbHZzSTBsS296QXM3d3FYOC1CR1VuaXczbWRLVk5HODRNUjBVcDhyajhSN3J3UXF3Zw&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DPoppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600%26display%3Dswap%27%29%3B&v=-u3vE84Wo_U');

:root {
    --electric-violet: #8f00ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppings', sans-serif;
}

html {
    font-size: 62.5%;

}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--electric-violet);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}
